/* SETUP */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

:root {
  --beige: #fee2bc;
  --yellow: #f2e23f;
  --orange: #f64423;
  --blue: #0d6ca5;
  --black: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--orange);
  position: relative;
}

.paper-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../assets/images/printed_paper_texture_overlay.png);
  mix-blend-mode: multiply;
  background-repeat: repeat;
  pointer-events: none;
}

section {
  height: 100vh;
  width: 100vw;
}

.store-link {
  text-decoration: none;
}

/* bounce animation class */
.bounce-ani {
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

/* TYPOGRAPHY */

h1 {
  font-family: proxima-nova, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--yellow);
  text-transform: uppercase;
}

h2 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

/* event listing headings */
h4 {
  padding: 1rem;
  color: var(--yellow);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

/* NAVIGATION */

.arch {
  display: flex;
  justify-content: center;
  /* ß */
}

.arch:hover {
  transform: scale(1.2);
}

.arch-landing-logo {
  display: flex;
  width: 100vw;
  justify-content: center;
  position: absolute;
}

.landing-logo {
  max-width: 30%;
  height: auto;
  padding-top: 2rem;
  z-index: 3;
}

.landing-logo:hover {
  transform: scale(1.2);
}

.landing-x-logo {
  max-width: 20%;
  height: auto;
}

/* SIDE NAV STYLING */

.open-btn:hover {
  transform: scale(2);
}

.close-btn:hover {
  transform: scale(2);
  cursor: pointer;
}

.side-nav {
  background-color: var(--blue);
  height: 100vh;
  width: 0vw;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side-logo {
  max-width: 100%;
  height: auto;
}

.side-nav div {
  max-width: 60%;
  height: auto;
  padding: 3rem;
  flex-wrap: nowrap;
}

.side-nav img {
  max-width: 30%;
  height: auto;
  margin: 1rem;
}

.side-nav li {
  max-width: 50%;
  height: auto;
}

.side-nav li a {
  font-size: clamp(1rem, 3rem, 5rem);
}

.close-btn {
  color: var(--yellow);
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 3rem;
  text-decoration: none;
}

.close-btn:hover {
  transform: scale(1.2);
  text-decoration: underline;
}

/* SEARCH OPTION */

.search-bar {
  display: none;
  width: 15rem;
  height: 3rem;
  margin: 1rem;
  border: 3px solid var(--yellow);
  background-color: var(--orange);
  color: var(--yellow);
  padding: 1rem;
}

.search-bar::placeholder {
  color: var(--yellow);
  opacity: 1;
  padding: 1rem;
}

.fa-magnifying-glass:hover {
  transform: scale(1.5);
  cursor: pointer;
}

/* GENERAL TOP NAV STYLING */

nav {
  display: flex;
  align-items: center;
  position: sticky;
  height: 20%;
  width: auto;
  background-color: var(--orange);
  color: var(--yellow);
  padding: 1.3rem;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav ul a {
  color: var(--yellow);
  padding: 1rem;
}

li {
  list-style: none;
}

li a {
  text-transform: uppercase;
  color: var(--yellow);
  text-decoration: none;
  padding: 1rem;
}

li a:hover {
  text-decoration: underline;
}

.home-link img {
  padding: 1rem;
  max-width: 30%;
  height: auto;
}

/* FOOTER */

footer {
  width: 100vw;
  background-color: var(--blue);
  color: var(--yellow);
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  padding: 3rem;
}

footer li {
  padding: 2rem;
}

footer img {
  display: block;
  margin: auto;
  max-width: 50%;
  height: auto;
  padding: 2rem;
}

.to-top {
  display: block;
  margin: auto;
  background-image: url(../assets/icons/to-top-default.png);
  background-size: contain;
  cursor: pointer;
  height: 147px;
  width: 147px;
}

.to-top:hover {
  background-image: url(../assets/icons/to-top-hover.png);
}

/*HEADER */
header {
  max-height: 100vh;
  width: auto;
  background-color: var(--orange);
}

/* 

EVENT PAGE STYLING 

*/

/* GENERAL LAYOUT */
.event-section {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 20vh 80vh;
  text-align: center;
  grid-template-areas: "header header header";
  justify-content: center;
}

.event-entry {
  padding: 1rem;
  margin: 2rem;
}

.entry-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* GENERAL TYPOGRAPHY */
.event-section h1 {
  font-size: clamp(3rem, 6rem, 9rem);
  grid-area: header;
}

.event-entry p {
  color: var(--yellow);
  padding-bottom: 1rem;
  font-size: clamp(1rem, 1.5rem, 2rem);
}

.o-font p,
.o-font h4 {
  color: var(--orange);
}

/* HEART BUTTON */

.heart {
  background-size: contain;
  background-position: center;

  width: 52px;
  height: 45px;
}

/* orange heart */
.heart-o {
  background-image: url(../assets/icons/heart-orange-default.png);
}

.heart-o:hover {
  background-image: url(../assets/icons/heart-orange-hover.png);
}

/* yellow heart */
.heart-y {
  background-image: url(../assets/icons/heart-yellow-default.png);
}

.heart-y:hover {
  background-image: url(../assets/icons/heart-yellow-hover.png);
}

/* EVENT PAGE HEADER */

.event-page-img {
  background-image: url(../assets/event-images/mooncake-wide.webp);
  background-size: cover;
  background-position: center;
  display: block;
  margin: auto;
  text-align: center;
  border-radius: 80px;
  max-width: 80%;
  height: 75%;
  border: 2px solid var(--black);
  padding: 5rem;
  text-transform: uppercase;
}

.event-page-img h1 {
  font-size: clamp(9px, 10rem, 11rem);
  /* font-weight: 700; */
  text-shadow: -2px 0 var(--black), 0 2px var(--black), 2px 0 var(--black),
    0 -2px var(--black);
}

.event-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.event-nav-img {
  max-width: 7%;
  height: 10%;
}

.event-nav img:hover {
  transform: scale(1, 1);
}

.event-nav-img:hover {
  transform: scale(1, 1);
}

.mooncake-view-event {
  color: var(--yellow);
  background: transparent;
  border: 10px solid var(--yellow);
  border-radius: 20px;
  text-transform: uppercase;
  padding: 0.8rem;

  font-size: clamp(20px, 2rem, 5rem);
  font-weight: 600;
  text-shadow: -2px 0 var(--black), 0 2px var(--black), 2px 0 var(--black),
    0 -2px var(--black);
}

.mooncake-view-event:hover {
  color: var(--orange);
  font-weight: 900;
  background: var(--yellow);
  text-shadow: none;
}

/* SECTION 1 | EVENT LISTING STYLING */

.event-miss {
  background-color: var(--beige);
}

.event-miss h1 {
  color: var(--orange);
}

.miss-e-img {
  border: 2px solid var(--orange);
}

.event-list-img {
  width: 549px;
  height: 496px;

  border-radius: 20px;
  border: 2px solid var(--yellow);

  background-position: center;
  background-size: cover;
}

.e-entry-1-img {
  background-image: url(../assets/event-images/yum-cha-wide.webp);
}

.e-entry-2-img {
  background-image: url(../assets/event-images/mooncake-wide.webp);
}

.e-entry-3-img {
  background-image: url(../assets/event-images/baijiu.png);
}

.e-entry-5-img {
  background-image: url(../assets/event-images/bao.png);
}

.e-entry-6-img {
  background-image: url(../assets/event-images/dumplings.png);
}

.e-entry-7-img {
  background-image: url(../assets/event-images/In-the-Mood-for-Love.jpg);
}

.e-entry-8-img {
  background-image: url(../assets/event-images/tea.png);
}

.e-entry-9-img {
  background-image: url(../assets/event-images/bubbles.png);
}

.e-entry-10-img {
  background-image: url(../assets/event-images/In-the-Mood-for-Love.jpg);
}

.e-entry-11-img {
  background-image: url(../assets/event-images/mahjong.png);
}

.e-entry-12-img {
  background-image: url(../assets/event-images/kung-fu-hustle.jpg);
}

/* SECTION 2 | SIK EVENTS */
.event-sik h1 {
  color: var(--yellow);
}

/* SECTION 3 | YUM EVENTS */
.event-yum {
  background-color: var(--blue);
  color: var(--yellow);
}

/* 

GOLDEN BAO STYLING 

*/

/* Gold bao landing section */

.gold-bao-land {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(../assets/images/golden-bao-landing.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.gold-bao-land h1 {
  font-weight: 900;
  font-size: clamp(8rem, 15rem, 16rem);
}

.gold-bao-land h3 {
  color: var(--yellow);
  font-weight: 600;
  font-size: clamp(1rem, 2rem, 3rem);
}

.gold-bao {
  position: absolute;
  margin-top: 17rem;

  z-index: 3;
  max-height: 10%;
  width: auto;
}

/* Voting Store grid */

.store-grid,
.landing-store-grid {
  height: 150vh;
  display: grid;
  text-align: center;
  grid-template-rows: 70vh 40vh 40vh;
  grid-template-columns: 50vw 50vw;
  background-color: var(--beige);
  color: var(--orange);
}

.store-grid div,
.landing-store-grid div {
  padding: 2rem;
  border: 2px solid var(--yellow);
}

/* Voting Area */

form {
  max-width: 100%;
  height: auto;
  margin: 2rem 1rem 1rem 0rem;
  text-align: left;
}

input[type="submit"] {
  text-transform: uppercase;
  border: 4px solid var(--orange);
  background-color: var(--beige);
  color: var(--orange);
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem;
  width: 20%;
  border-radius: 60px;
}

input[type="submit"]:hover {
  background-color: var(--orange);
  color: var(--beige);
  border: 6px solid var(--blue);
}

textarea {
  resize: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  height: auto;
  padding: 3rem;
  border-radius: 60px;
  border: 6px solid var(--orange);
  background-color: var(--beige);
  color: var(--orange);
  font-size: 1.2rem;
  font-weight: 700;
}

select {
  width: 90%;
  padding: 0.5rem;
  border-radius: 60px;
  border: 6px solid var(--orange);
  background-color: var(--beige);
  color: var(--orange);

  font-size: 1.5rem;
  font-weight: 700;
}

select:hover {
  background-color: var(--blue);
  color: var(--yellow);
}

/* grid items */
.vote-item {
  text-align: left;
  max-height: 500%;
}

.vote-item h2 {
  font-size: clamp(1rem, 2.8rem, 3.5rem);
  font-weight: 900;
}

.vote-item p {
  font-weight: 700;
  font-size: clamp(0.5rem, 1.2rem, 2rem);
}

span {
  font-weight: 900;
}

.item-title {
  font-weight: 900;
  text-transform: uppercase;
}

/* DRAGON BOAT */
.db-item {
  background-color: var(--yellow);
  font-size: clamp(2rem, 4rem, 6rem);
  background-image: url(../assets/images/yum-cha-select.png);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

.db-item h2 {
  color: var(--yellow);
  text-shadow: -12px 0 var(--orange), 0 12px var(--orange), 12px 0 var(--orange),
    0 -12px var(--orange);
}

.db-item:hover {
  background-color: var(--blue);
  background-blend-mode: normal;
}

.db-item:hover h2 {
  color: var(--yellow);
  font-size: clamp(5rem, 6rem, 7rem);
  transform: scaleX(1.5);
}

/* BBQ DUCK */
.bbq-duck-item {
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-img {
  background-image: url(../assets/images/cafe-bbq-duck.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bbq-duck-item h2 {
  font-size: clamp(3rem, 10rem, 13rem);
  color: var(--yellow);
  z-index: 0;
  text-decoration: none;
}

.bbq-duck-item img {
  max-height: 100%;
  /* position: absolute; */
  z-index: 1;
  width: auto;
}

.bbq-duck-item a {
  text-decoration: none;
}

.bbq-duck-item:hover {
  background-color: var(--yellow);
  background-size: cover;
  border: 4px solid var(--orange);
}

.bbq-duck-item:hover h2 {
  color: var(--orange);
  text-shadow: -2px 0 var(--yellow), 0 2px var(--yellow), 2px 0 var(--yellow),
    0 -2px var(--yellow);
}

/* SUN WORLD */
.sun-world-item {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  text-align: left;
  font-size: clamp(0.5rem, 2rem, 5rem);
}

.sun-world-item h2 {
  text-align: center;
  padding: 1rem;
}

.sun-world-item:hover {
  background-color: var(--blue);
  color: var(--yellow);
  font-size: clamp(1rem, 2.5rem, 3rem);
}

.sun-world-item:hover img {
  transform: rotate(20deg);
}

/* sunrise hong kong */

.landing-sun-hk-item {
  grid-row: 2/4;
}

.sun-hk-item,
.landing-sun-hk-item {
  background-color: var(--beige);
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sun-hk-item img,
.landing-sun-hk-item img {
  max-width: 30%;
  height: auto;
  transition: 1s;
}

.sun-hk-item h2,
.landing-sun-hk-item h2 {
  font-weight: 900;
  font-size: clamp(2rem, 6.5rem, 7rem);
}

.hk-item-title {
  font-weight: 900;
  font-size: clamp(2rem, 5rem, 7rem);
  color: var(--beige);
  text-shadow: -4px 0 var(--orange), 0 4px var(--orange), 4px 0 var(--orange),
    0 -4px var(--orange);
}

.sun-hk-item:hover,
.landing-sun-hk-item:hover {
  background-color: var(--blue);
}

.sun-hk-item:hover img,
.landing-sun-hk-item:hover img {
  transform: rotate(180deg);
  transition: 1s;
}

.sun-hk-item:hover h2,
.hk-item-title:hover,
.landing-sun-hk-item:hover h2 {
  color: var(--yellow);
}

/* wood the stall */

.woo-item {
  background-color: var(--orange);
  overflow: hidden;
}

.woo-item h2 {
  color: var(--yellow);
  font-size: clamp(2rem, 6rem, 8rem);
}

.woo-item div {
  display: flex;
  border: none;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.woo-item div img {
  max-width: 20%;
  height: auto;
}

.woo-item:hover {
  background-color: var(--yellow);
  border: 4px solid var(--blue);
}

.woo-item:hover div img {
  transform: rotate(-40deg);
}

.woo-item:hover h2 {
  color: var(--orange);
}

/* .gold-bao-vote {
  display: grid;
} */

/* EATERY  */

.title-name {
  text-align: center;
  font-size: clamp(2rem, 5rem, 7rem);
}

.store-img {
  display: block;
  margin: auto;
  max-height: 70vh;
  width: auto;
}

.store-details {
  color: var(--beige);
  text-align: center;
  font-size: clamp(1rem, 2rem, 3rem);
}

.store-ph-div {
  background-color: var(--yellow);
  color: var(--orange);
  text-align: center;
  height: 10%;
}

.store-ph-c {
  margin-top: 50%;
  padding: 1rem;
  font-size: clamp(1rem, 2rem, 3rem);

  display: block;
  margin: auto;
  background-color: var(--orange);
  width: 30%;
  height: auto;
  border-radius: 50%;
  text-align: center;
}

.store-content {
  display: grid;
  grid-template-columns: 80vw auto;
  grid-template-rows: 100%;
  height: 100%;
  background-color: var(--beige);
  color: var(--orange);
  text-align: left;
}

.store-text-content {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  max-width: 50%;
}

.store-content p {
  font-weight: 700;
}

.store-desc-title {
  color: var(--orange);
  font-size: clamp(2rem, 4rem, 6rem);
}

.store-desc-img-div {
  background-color: var(--yellow);
  max-height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.store-desc-img {
  height: auto;
  width: 60%;
}

/* EVENT SPECIFIC PAGE STYLING */

.event-header {
  background-image: url(../assets/images/dashed-lines.png);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.event-detail-section {
  background-color: var(--beige);
  color: var(--orange);
  text-align: center;
}

.event-details {
  color: var(--orange);
}

.event-logo-div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: absolute;
  top: 40vh;
  right: 20vw;
}

.event-logo {
  max-width: 5vw;
  height: auto;
}

.event-details {
  text-align: center;
  color: var(--orange);
}

.event-details h1 {
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  color: var(--orange);
}

.event-details h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
}

.event-detail-cat {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-detail-cat h4 {
  color: var(--orange);
}

.event-svg {
  width: 80px;
  height: 100px;
  position: relative;
  transform: none;
  top: 0%;
  left: 0%;
}

.event-header h3 {
  position: absolute;
  left: 20vw;
  top: 40vh;
  color: var(--beige);
  font-weight: 900;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.event-header-img {
  display: block;
  margin: auto;
}

.mb-landing p {
  text-decoration: underline;
}

.mb-landing div {
  padding: 1rem;
  /* margin: 1rem; */
}

.mb-landing span {
  font-size: 4rem;
  font-weight: 900;
}

.mb-check {
  background-color: var(--orange);
  border-radius: 60px;
  border: 2px solid var(--yellow);
}

.mb-check p {
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
}

.mb-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  text-align: center;
  margin: auto;
}

/*  MOBILE SIK CAMPAIGN SITE */

@media screen and (width < 468px) {
  .web-landing {
    display: none;
  }

  .mb-landing {
    display: flex;
  }

  .fa-2xl {
    font-size: 0.5rem;
  }
}
