.landing-logo {
  max-width: 50%;
  height: auto;
  position: absolute;
  left: 25%;
}

/* LAZY SUSAN STYLING */
.container {
  position: relative;
  max-width: 500px;
  margin: auto;
}

.wrapper {
  position: relative;
}

.controls {
  position: relative;
  text-align: center;
}

.item {
  width: 100px;
  height: 100px;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  border-radius: 100%;
  background-color: transparent;
  z-index: 1;
  transition: all 1s ease-in-out;
}

/* lazy susan food images */
.item-2 img {
  max-width: 100%;
  height: auto;
  text-align: center;
}

.susan-mooncake {
  /*   transition: all 1s ease-in-out; */
}

/* .item.active {
    background-color: blue;
  } */

.susan {
  display: block;
  max-width: 200%;
  overflow: visible;
  height: auto;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg {
  height: 300px;
  overflow: visible;
  width: 300px;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.st0 {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 1;
}

.start {
  position: absolute;
  top: 50%;
  right: -30px;
}

/* 

LANDING DESCRIPTION 

*/
.landing-desc {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  color: var(--yellow);
  text-align: center;
}

.landing-desc div {
  justify-self: center;
}

.landing-desc img {
  max-width: 100%;
  height: auto;
  justify-self: center;
}

.landing-desc h2 {
  color: var(--orange);
  text-shadow: -2px 0 var(--yellow), 0 2px var(--yellow), 2px 0 var(--yellow),
    0 -2px var(--yellow);
  text-align: center;
  font-size: clamp(5rem, 7rem, 14rem);
}

.landing-desc p {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}

.landing-desc h6 {
  text-align: center;
  font-family: "proxima-nova", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding-top: 5rem;
}

/*  
* DESCRIPTION 
*/

.about-syw {
  background-color: var(--blue);
}

.about-syw div {
  display: block;
  text-align: center;
  grid-template-columns: auto;
}

.desc-logo {
  justify-self: center;
  padding: 3rem;
  max-width: 33%;
  height: auto;
}
