/* LANDING PAGE DECORATION */
.landing-left {
  padding-top: 2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  left: 9rem;
  z-index: 1;
}

.landing-right {
  padding-top: 2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  right: 9rem;
  z-index: 1;
  translate: 1rem 1rem;
}

.landing-center {
  position: relative;
  z-index: 3;
  top: 85vh;
  margin: auto;
  max-width: 40%;
  background-color: var(--orange);
  border: 2px solid var(--black);
  border-radius: 60px;
}

.landing-center a {
  text-decoration: none;
  text-align: center;
  color: var(--yellow);
  font-size: clamp(1rem, 2.5rem, 4rem);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.landing-center:hover {
  background-color: var(--blue);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.to-footer {
  background: url(../assets/icons/to-footer-default.png);
  background-size: cover;
  width: 141px;
  height: 141px;
  cursor: pointer;
}

.to-footer:hover {
  background-image: url(../assets/icons/to-footer-hover.png);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

/* LAZY SUSAN STYLING */
.lazy-susan-section {
  position: relative;
  left: 10%;
  background-color: var(--blue);
  border-radius: 80px;
  max-width: 80%;
  height: 80vh;
  border: 2px solid var(--black);
  overflow: hidden;
  background-image: url(../assets/images/dashed-lines.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transform: rotate(-360deg);
}

.lazy-susan-section::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(../assets/images/dashed-lines.png) no-repeat cover center;
  transform: rotate(360deg);
  transition: all 1s ease-in-out;

  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
}

.container {
  position: relative;
  max-width: 50%;
  margin: auto;
}

.wrapper {
  position: relative;
  z-index: 2;
  /* LAZY SUSAN INNER CIRCLE POSITION */
  translate: 3rem -17rem;
}

.controls {
  position: inherit;
  bottom: 20rem;
  right: 17rem;
  text-align: right;
  cursor: pointer;
}

.item {
  position: inherit;
  z-index: 3;
  width: 230px;
  height: 230px;
  text-align: center;
  line-height: 50px;
}

/* lazy susan food images */
.item img {
  max-width: 100%;
  height: auto;
  text-align: center;
}

.item-1 {
  background-image: url(../assets/images/mooncake-default.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.item-1:hover {
  background-image: url(../assets/images/mooncake-hover.png);
}

.item-2 {
  background-image: url(../assets/images/dumplings-default.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.item-2:hover {
  background-image: url(../assets/images/dumplings-hover.png);
}

.item-3 {
  background-image: url(../assets/event-images/bao-default.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.item-3:hover {
  background-image: url(../assets/event-images/bao-hover.png);
}

.item-4 {
  background-image: url(../assets/event-images/baijiu-default.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.item-4:hover {
  background-image: url(../assets/event-images/baijiu-hover.png);
}

/* .item.active {
    background-color: blue;
  } */

.susan {
  z-index: 0;
  position: absolute;
  max-width: 200%;
  height: auto;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

svg {
  position: absolute;
  /* KEEP 50, OTHER WISE ANIMATION IS OFF CENTER */
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 300px;
  width: 300px;
  overflow: visible;
}

.st0 {
  fill: none;
  stroke: transparent;
  stroke-width: 20;
  stroke-miterlimit: 1;
}

/* 

LANDING DESCRIPTION 

*/
.landing-desc {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  color: var(--yellow);
  text-align: center;
  align-items: center;
}

.landing-desc div {
  justify-self: center;
}

.landing-desc img {
  max-width: 100%;
  height: auto;
  justify-self: center;
}

.landing-desc img:hover {
  transform: rotate(20deg);
}

.landing-desc h2 {
  color: var(--orange);
  text-shadow: -4px 0 var(--yellow), 0 4px var(--yellow), 4px 0 var(--yellow),
    0 -4px var(--yellow);
  text-align: center;
  font-size: clamp(5rem, 7rem, 14rem);
}

.landing-desc p {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}

.landing-desc h6 {
  text-align: center;
  font-family: "proxima-nova", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding-top: 5rem;
}

/*  
* DESCRIPTION 
*/

.about-syw {
  background-color: var(--blue);
  border-top: 3rem solid var(--yellow);
  border-bottom: 3rem solid var(--yellow);
}

.about-syw div {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

.desc-logo {
  height: 457px;
  width: 371px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.desc-tab {
  background-color: var(--orange);
  height: 100vh;
  width: 0vw;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--yellow);
  font-size: clamp(1rem, 2rem, 3rem);
}

.desc-close-btn {
  color: var(--yellow);
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 3rem;
  text-decoration: none;
  cursor: pointer;
}

.desc-close-btn:hover {
  transform: scale(1.2);
  text-decoration: underline;
}

.sik-desc {
  background-image: url(../assets/images/sik-desc-default.png);
}

.sik-desc:hover {
  background-image: url(../assets/images/sik-desc-hover.png);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.sik-desc-tab {
  align-items: center;
}

.sik-desc-tab div {
  max-width: 50vw;
  height: auto;
  flex-direction: column;
  margin: 1rem;
}

.sik-desc-tab img {
  max-width: 50%;
  height: auto;
}

span {
  font-weight: 700;
}

.yum-desc {
  background-image: url(../assets/images/yum-desc-default.png);
}

.yum-desc:hover {
  background-image: url(../assets/images/yum-desc-hover.png);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.yum-desc-tab {
  display: flex;
  background-color: var(--blue);
  align-items: center;
}

.yum-desc-tab div {
  max-width: 30%;
  flex-direction: column;
  justify-content: center;
}

.y-d-1 {
  align-self: flex-start;
}

.y-d-2 {
  align-items: flex-end;
}

/* wave-animation svg */
.cls-1 {
  fill: none;
  stroke: transparent;
  stroke-width: 10px;
  height: 100vh;
  width: auto;
}

.yum-desc-img {
  max-width: 100%;
}

.wan-desc {
  background-image: url(../assets/images/wan-desc-default.png);
}

.wan-desc:hover {
  background-image: url(../assets/images/wan-desc-hover.png);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.wan-desc-tab div {
  flex-direction: column;
  justify-content: center;
  max-width: 25%;
}

.wan-desc-tab div p {
  margin-top: 1rem;
}

.wan-desc-img {
  max-width: 30%;
}

/* LOCAL STORIES */

.local-story img {
  margin-bottom: 1rem;
}

.local-story-title {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.overflow-x-hidden {
  width: 100%;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: -100px;
  margin-top: -100px;
  animation: scroll 10s linear infinite;
  animation-duration: 12s;
}

.ticket-wrapper {
  transform: rotate(-3deg);
  width: 300vw;
  height: auto;
  background-image: url(../assets/images/ticket.png);
  background-size: auto 100%;
}

.ticket {
  max-width: 100%;
  height: 50px;
  margin: 2rem;
}

@keyframes scroll {
  from {
    transform: translate(0%, 0);
  }

  to {
    transform: translate(-100vw, 0);
  }
}
