* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

:root {
  --beige: #fee2bc;
  --yellow: #f2e23f;
  --orange: #f64423;
  --blue: #0d6ca5;
  --black: black;
}

body {
  margin: 0;
  padding: 0;
}
